; http://editorconfig.org

root = true

[*]
end_of_line = crlf      

[src/**/*]
charset = utf-8
indent_style = space
indent_size = 2
trim_trailing_whitespace = false

[src/**/*.{go,py,rb,php}]
indent_size = 4

[*.md]
trim_trailing_whitespace = false

[*.min.*]
indent_style = ignore
trim_trailing_whitespace = false
insert_final_newline = ignore