/* .main-page__header-background {
  background: url(../img/general/headers/main-page--desktope.jpg) center center;
  background: url(../img/general/headers/main-page--desktope.webp) center center;
  background-size: cover;

  @media 
  (min-width: $desktope) and (min-resolution: $retina-dpi), 
  (min-width: $desktope) and (min-resolution: $retina-dppx) {
    background: url(../img/general/headers/main-page--desktope@2x.jpg) center center;
    background: url(../img/general/headers/main-page--desktope@2x.webp) center center;
  }
  @media (max-width: $tablet) {
    background: url(../img/general/headers/main-page--tablet.jpg) center center;
    background: url(../img/general/headers/main-page--tablet.webp) center center; 
  }
  @media (max-width: $mobile) {
    background: url(../img/general/headers/main-page--mobile.jpg) center center;
    background: url(../img/general/headers/main-page--mobile.webp) center center; 
  }
} */