// Colors
$black: #000000;
$white: #ffffff;
$grey: #c4c4c4;
$grey-light: #D0D0D0;
$color-main: #FFE600;
$color-accomp: #F26422;
$bgc-spacer-dark: #9B9A99;
$bgc-spacer-light: #C7C7C7;
$bgc-footer: #015A76;

// Breakpoints mobile first
/* $mobile: 375px;
$tablet: 768px;
$desktope: 1400px;

$mobile-1: 374px;
$tablet-1: 767px;
$desktope-1: 1399px; */

$mobile: 23.4375em;
$tablet: 48em;
$desktope: 87.5em;

$mobile-rem: 23.4375rem;
$tablet-rem: 48rem;
$desktope-rem: 87.5rem;

$mobile-1: 23.375em;
$tablet-1: 47.9375em;
$desktope-1: 87.4375em;

// DPI
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

// Fonts
$base-font-size: 16;
@function em($size) { @return #{$size / 16}em; }
@function rem($size) { @return #{$size / $base-font-size}rem; }
@mixin font-size($size) {
  font-size: #{$size}px;
  font-size: rem($size);
}

$font: "ALS Schlange Sans", "Arial", "Helvetica", sans-serif;