.calculator {
  padding-top: 40px;
  padding-bottom: 40px;

  @media (min-width: $mobile) {
    padding-bottom: 50px;
  }

  @media (min-width: $tablet) {
    padding-top: 55px;
    padding-bottom: 60px;
  }

  &__body {
    @media (min-width: em(1000)) {
      display: grid;
      grid-template-columns: auto auto;
      grid-template-rows: auto auto;
      column-gap: 10px;
    }
  }

  &__features {
    display: flex;
    justify-content: space-between;
    margin-top: 33px;
    @media (min-width: em(1000)) {
      grid-column: 1/2;
      grid-row: 1/2;
      max-width: 755px;
      margin-top: 33px;
    }
  }

  &__form {
    @media (min-width: em(1000)) {
      grid-column: 1/2;
      grid-row: 2/3;
    }
  }

  &__result {
    @media (min-width: em(1000)) {
      grid-column: 2/3;
      grid-row: 1/3;
    }
  }
}

.features-calculator {
  &__icon {
    display: grid;
    justify-content: center;
    align-content: center;
    width: 65px;
    height: 65px;
    margin: 0 auto;

    background-color: $color-main;
    border-radius: 50%;

    @media (min-width: $mobile) {
      width: 120px;
      height: 120px;
    }
  }

  &__img {
    height: 35px;

    @media (min-width: $mobile) {
      height: 62px;
    }
  }

  &__p {
    margin-top: 9px;

    font-weight: 400;
    font-size: rem(10);
    line-height: rem(16);
    text-align: center;

    @media (min-width: $mobile) {
      font-size: rem(12);
      line-height: rem(22);
    }
    
    span {
      font-weight: 700;
      font-size: rem(16);
      
      @media (min-width: $mobile) {
        font-size: rem(20);
      }
    }
  }
}

.form-calculator {
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__result {
    position: relative;

    max-width: 300px;
    margin-top: 60px;
    margin-left: 30px;
    margin-right: 30px;
    padding-bottom: 25px;

    filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.25));
    background-color: $white;
    
    &-bg {
      &::before {
        content: '';
        position: absolute;
        top: -28px;
        left: -30px;
        z-index: -1;
  
        width: calc(100% + 60px);
        height: 56px;
  
        border: 20px solid #F2F2F2;
        border-radius: 6px;

        background: $white;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
      }
      &::after {
        content: '';
        position: absolute;
        bottom: -13px;
        left: 0;

        display: block;
        width: 100%;
        height: 13px;

        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='302' height='13' fill='none' viewBox='0 0 302 13'%3E%3Cpath fill='%23fff' d='M13 13L25 0H1l12 13z'/%3E%3Cpath fill='%23fff' d='M36 13L47 0H24l12 13z'/%3E%3Cpath fill='%23fff' d='M58 13L70 0H46l12 13z'/%3E%3Cpath fill='%23fff' d='M82 13L94 0H69l13 13z'/%3E%3Cpath fill='%23fff' d='M105 13l12-13H93l12 13z'/%3E%3Cpath fill='%23fff' d='M128 13l12-13h-24l12 13zM151 13l11-13h-22l11 13zM174 13l12-13h-24l12 13z'/%3E%3Cpath fill='%23fff' d='M197 13l12-13h-24l12 13z'/%3E%3Cpath fill='%23fff' d='M220 13l13-13h-25l12 13z'/%3E%3Cpath fill='%23fff' d='M244 13l12-13h-24l12 13z'/%3E%3Cpath fill='%23fff' d='M266 13l12-13h-23l11 13z'/%3E%3Cpath fill='%23fff' d='M289 13l12-13h-24l12 13z'/%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
      }
    }
    
    &-body {
      z-index: 2;

      padding: 0 10px;

      text-align: right;

      background-color: $white;
    }
    &-line {
      padding-top: 35px;
    }
    &-p {
      font-size: rem(14);
      line-height: rem(15);

      &--red-price{
        display: inline-block;

        color: $color-accomp;
        font-size: rem(24);
        line-height: rem(30);
        word-wrap: nowrap;
      }
    }
    &-price {
      font-size: rem(40);
      line-height: rem(48);
    }
  }

  &__sliders {
    max-width: 755px;
    margin-top: 40px;

    &-description {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    &-p {
      display: inline-block;
      margin-top: 5px;
      margin-right: 5px;
      
      font-weight: 700;
      font-size: rem(16);
      line-height: rem(16);

      @media (min-width: $mobile) {
        margin-right: 35px;

        font-size: rem(20);
        line-height: rem(30);
      }

      @media (min-width: $tablet) {
        font-size: rem(24);
        line-height: rem(40);
      }
    }

    &-price {
      display: inline-block;
      margin-top: 5px;

      font-weight: 900;
      font-size: rem(24);
      line-height: rem(16);
      word-wrap: nowrap;

      @media (min-width: $mobile) {
        font-size: rem(30);
        line-height: rem(30);
      }

      @media (min-width: $tablet) {
        font-size: rem(40);
        line-height: rem(40);
      }
    }

    &-minmax {
      display: flex;
      justify-content: space-between;
      margin-top: 7px;

      color: $grey-font;
      font-size: rem(10);

      @media (min-width: $mobile) {
        font-size: rem(12);
      }

      @media (min-width: $tablet) {
        margin-top: 0;
        font-size: rem(14);
      }
    }

    &-max { margin-left: auto; }

    &-bank {
      display: flex;
      flex-wrap: wrap;
      gap: 5px;

      &-img {
        height: 20px;
        margin-top: 3px;
        
        @media (min-width: $mobile) {
          height: 27px;
          margin-top: 7px;
        }

        @media (min-width: $tablet) {
          margin-top: 10px;
        }
      }
    }
  }
}

.js-start { justify-content: start; }