.burger {
  display: none;
  
  @media (max-width: $mobile) {
    display: block;
    width: 47px;
    height: 47px;
    margin-right: -9px;
    padding: 0;
    border: none;
  
    background: none;
  
    cursor: pointer;
  }

  &__elements {
    position: relative;
  
    display: block;
    width: 24px;
    height: 3px;
    padding: 0;
    margin: 0 auto;
  
    background-color: $black;

    &::before, &::after {
      content: '';
      position: absolute;
      top: 50%; 
      left: 65%; 
      
      display: block;
      width: 24px;
      height: 3px;
      margin-top: -1px;
      margin-left: -15.5px;
    
      background-color: $black;
      transition: 0.1s;
    }
    &::before { transform: translateY(-8px); }
    &::after  { transform: translateY(8px); }
  }
}
.burger--opened .burger__elements        { height: 0; }
.burger--opened .burger__elements:before { transform: rotate(-45deg); }
.burger--opened .burger__elements:after  { transform: rotate(45deg); }