.nav__bg-wrapper
  .nav.container
    p.nav__description Меню
    .nav__menu
      include ../!menu/menu
    button.nav__burger.burger(type="button" tabindex="2" aria-expanded="false" aria-controls="menu")
      span.burger__elements
      span.visually-hidden Open menu
