.container
  .nav
    .nav__logo
      a(href="index.html").nav__logo-link
        picture
          source(class="icon-logo-changer" media="(min-width: 1400px)" srcset="img/svg/logo.svg")
          img(class="icon-logo" src="img/svg/logo-mobile.svg" alt="logo")
    .nav__menu
      include ../!menu/menu
