.nav {
  z-index: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  flex-wrap: nowrap;
  
  width: 100%;
  min-height: 52px;
  
  background-color: $color-main;
  
  @media (max-width: $mobile) {
    justify-content: space-between;
  }

  &__description {
    display: none;

    @media (max-width: $mobile) {
      display: block;

      font-size: rem(24);
      font-weight: 700;
      line-height: rem(28);
      padding: 12px 0;
    }
  }

  &__bg-wrapper { background-color: $color-main; }

  &__menu {
    display: block;
    width: auto;
    margin-top: 0;
    
    @media (max-width: $mobile) {
      display: none;
    }
  }
  &__burger {
    display: block;
    @media (min-width: $mobile) {
      display: none;
    }
  }
}

.nojs {
  .nav {
    @media (max-width: $tablet) {
      display: block;
    }
    &__menu {
      display: block;
      margin-left: 0;
    }
    &__burger { display: none; }
  }
}