extends layout/main

block variables
  - var title = "Тестовое задание Crest"

block header
  .header
    nav.header__nav
      include ../components/!nav/nav
    .container
      .header__article
        article
          h1 ОФИЦИАЛЬНЫЙ ПРОИЗВОДИТЕЛЬ 
            span ТЕКСТ, ТЕКСТ, ТЕКСТ

block content

block script