ul.menu#menu
  li.menu__item: a(href="#").menu__item-link.menu__page-1 Page 1
  li.menu__item: a(href="#").menu__item-link.menu__page-2 Page 2
  li.menu__item: a(href="#").menu__item-link.menu__page-3 Page 3