mixin icon(nameIcon, $width, $height, $viewBox)
  if($viewBox)
    svg(class="svg-sprite-icon icon-"+nameIcon width=""+$width height=""+$height viewBox=""+$viewBox)
      use(xlink:href="img/svg/sprite.svg#"+nameIcon)
  else
   svg(class="svg-sprite-icon icon-"+nameIcon width=""+$width height=""+$height)
      use(xlink:href="img/svg/sprite.svg#"+nameIcon)

mixin icon-label(nameIcon, $label, $width, $height, $viewBox)
  if($viewBox)
    svg(class="svg-sprite-icon icon-"+nameIcon aria-label=""+$label width=""+$width height=""+$height viewBox=""+$viewBox)
      use(xlink:href="img/svg/sprite.svg#"+nameIcon)
  else
   svg(class="svg-sprite-icon icon-"+nameIcon aria-label=""+$label width=""+$width height=""+$height)
      use(xlink:href="img/svg/sprite.svg#"+nameIcon)

mixin icon-class(nameIcon, classIcon, $width, $height, $viewBox)
  if($viewBox)
    svg(class="svg-sprite-icon icon-"+nameIcon+" "+classIcon width=""+$width height=""+$height viewBox=""+$viewBox)
      use(xlink:href="img/svg/sprite.svg#"+nameIcon)
  else
   svg(class="svg-sprite-icon icon-"+nameIcon+" "+classIcon width=""+$width height=""+$height)
      use(xlink:href="img/svg/sprite.svg#"+nameIcon)

mixin icon-class-label(nameIcon, classIcon, $label, $width, $height, $viewBox)
  if($viewBox)
    svg(class="svg-sprite-icon icon-"+nameIcon+" "+classIcon aria-label=""+$label width=""+$width height=""+$height viewBox=""+$viewBox)
      use(xlink:href="img/svg/sprite.svg#"+nameIcon)
  else
   svg(class="svg-sprite-icon icon-"+nameIcon+" "+classIcon aria-label=""+$label width=""+$width height=""+$height)
      use(xlink:href="img/svg/sprite.svg#"+nameIcon)

mixin article-social-icon-label(nameIcon, $label, $width, $height, $viewBox)
  if($viewBox)
    svg(class="svg-sprite-icon icon-"+nameIcon aria-label=""+$label width=""+$width height=""+$height viewBox=""+$viewBox)
      use(xlink:href="img/svg/sprite.svg#"+nameIcon)
  else
   svg(class="svg-sprite-icon icon-"+nameIcon aria-label=""+$label width=""+$width height=""+$height)
      use(xlink:href="img/svg/sprite-article-social.svg#"+nameIcon)

mixin img(file, format, classImg, alttext)
  picture
    source(media="(min-width: "+(tablet / 16)+"em)"     srcset="img/"+file+"@desktope.webp" type="image/webp")
    source(media="(min-width: "+(tablet / 16)+"em)"     srcset="img/"+file+"@desktope."+format)
    source(media="(min-width: "+(mobile / 16)+"em)"     srcset="img/"+file+"@tablet.webp" type="image/webp")
    source(media="(min-width: "+(mobile / 16)+"em)"     srcset="img/"+file+"@tablet."+format)
    source(media="(max-width: "+((mobile-1) / 16)+"em)" srcset="img/"+file+"@mobile.webp" type="image/webp")
    img(class=""+classImg alt=""+alttext                    src="img/"+file+"@mobile."+format)