/* 
.form {
  &__accepted { display: none; } // jquery-validation покажет блок в случае успешной отправки формы
  &__body {}
  &__block {} // или __line
  &__big-line {}
  &__header {}
  &__subheader {}
  &__label { .form__input {} .form__textarea {} }
  &__label-checkbox { input {} }
  &__label-radio { input {} }
  .file-upload { label {} }
  &__text {}
  &__submit { &-button {} }
  .error {
    outline-color: $color-warning;
    &::placeholder { color: rgba($black, 0.2); }
  }
} */