@import "utility/libs";
@import "utility/vars";
@import "utility/font-face";

//------------------GENERAL-------------------//
html {
  height: 100%;
  font-size: $base-font-size;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}

*, *::before, *::after {
  box-sizing: border-box;
}

ul[class], ol[class] {
  padding: 0;
  list-style: none;
}

body, h1, h2, h3, h4, h5, h6, p, ul[class], ol[class],
li, figure, figcaption, blockquote, dl, dd { 
  margin: 0;
}

a { text-decoration: none; }
a:not([class]) { text-decoration-skip-ink: auto; }

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input, button, textarea, select { font: inherit; }

/* Удаляем все анимации и переходы для людей, которые предпочитают их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* audio,
canvas,
iframe,
img,
svg,
video,
textarea { vertical-align: middle; } */

textarea { resize: none; }

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden,
input[type="file"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

//------------------RPOJECT-------------------//
a, button, input, summary, textarea {
  outline-color: $color-main;
}
.hidden { display: none; }
address { font-style: normal;}

@import "fonts";
@import "containers";
@import "articles";
@import "forms";
@import "links";
@import "../components/components.scss";